.campo {
    margin-bottom: 1.5rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input, select {
    width: 100%;
    padding: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

