.campo {
    margin-bottom: 1.0rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input, select {
    width: 50%;
    padding: 10px;
    background-color: gray;
    color: white;
    border-radius: 15px;
    
}

form {
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.container-principal {
    display: flex;
    min-height: 100vh;
}

.ladoesquerdo {
    font-size: 18px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(58, 56, 56);
    padding: 2rem;
}

.ladoesquerdo h1 {
    position: absolute;
    top: 2rem;
    color: var(--primary-gold);
}

.ladoesquerdo p {
    color: white;
    font-size: 2rem;
}

.ladodireito {
    background-color: white;
    width: 50%;
    display: flex;
    padding: 2rem;
    justify-content: center;
    align-items: center;
}

.ladodireito a {
    position: absolute;
    top: 2rem;
    right: 2rem;
}
