.campo {
    margin-bottom: 1.0rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input, select {
    width: 50%;
    padding: 10px;
    
}

form {
    display: flex;
    flex-direction: column;
}
