footer {
    background-color: var(--primary-gold);
    padding: 9rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    margin-bottom: 12px;
    margin-top: 5px;
}

.descricao h3 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 4px;
}

.descricao p {
    margin-bottom: 4px;
}

.descricao a {
    background-color: green;
    padding-bottom: 5px;
    border-radius: 10px;
}