footer {
    background-color: var(--primary-gold);
    padding: 9rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    margin-bottom: 12px;
    margin-top: 5px;
}

footer h3 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 4px;
}

footer p {
    margin-bottom: 4px;
    font-size: 1.5rem;
}

.social-media a {
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 40px;
    text-decoration: none;
}