header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    width: 100%;
}

header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    height: 80px;
}

#navbar {
    display: flex;
    gap: 2rem;
}

#navbar a{
    padding: 8px;
    transition: all 0.3s ease;
    font-size: 2rem;
    margin: auto;
    color: #fff;
}

#navbar a:hover{
    color: var(--primary-gold);
}

.icons img {
    margin: 1rem;
    cursor: pointer;
}

/*.icons img:hover{
    width: 40px;
    height: 40px;
}*/