header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border-bottom: var(--border);
}

header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

#navbar a{
    margin: 0 1rem;
    font-size: 1.8rem;
    color: #fff;
}

#navbar a:hover{
    color: var(--primary-gold);
    border-bottom: 0.1rem solid var(--primary-gold);
    padding-bottom: 0.5rem;
    font-size: 2rem;
}

.icons img {
    margin: 1rem;
    cursor: pointer;
}

/*.icons img:hover{
    width: 40px;
    height: 40px;
}*/