.home-container {
    background: url('../../image/home.jpg');
    background-position: center;
    background-size: cover;
}

.home-container {
    background: url('../../image/home.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}

.home-container::before {
    content: '';
    position: absolute;
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background: rgba(0, 0, 0, 0.7); 
    z-index: 1; 
}

.home-container section {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: relative; 
    z-index: 2; 
}

.home-container section {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.content {
    max-width: 60rem;
}

.content h3{
    color: #fff;
    font-size: 6rem;
}

.content p{
    color: #fff;
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.8;
    padding: 1rem 0;
}


#title {
    color: #fff;
}

#title span {
    color: var(--primary-gold);
    font-size: 7rem;
}