@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('header.css');
@import url('home.css');

:root {
    --main-color: #d3ad7f;
    --black: #13131a;
    --bg: #010103;
    --primary: #d4af37;
    --primary-dark: #daa520;
    --primary-gold: #d4af37;
    --border: 0.1rem solid rgba(255,255,255,0.3);
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: var(--bg);
}

section {
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

.btn {
    background-color: var(--primary);
    color: var(--bg);
    padding: 1rem 3rem;
    font-size: 1.7rem;
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;
}

.btn:hover {
    letter-spacing: 0.1rem;
    background-color: var(--primary-dark);
}

.title {
    font-size: 4rem;
    color: var(--primary-gold);
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.title span {
    color: #fff;
    text-transform: uppercase;
}

.sobre .row {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.sobre .row .content {
    padding: 2rem;
}


.sobre .row .content h3 {
    font-size: 3rem;
    color: #fff;
}

.sobre .row .content p {
    font-size: 1.6rem;
    color: #fff;
    padding: 1rem 0;
    line-height: 1.8;
}

.trabalhos .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.trabalhos .box-container .box {
    text-align: center;
    border: var(--border);
    padding: 1.5rem;
    overflow: hidden;
    max-width: 350px;
}

.trabalhos .box-container .box img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 1.5rem;
}