<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/topo.png') }}" type="image">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <title>Barber-Page</title>
</head>
<body>
    <header>
        <section>
        <a href="#">
            <img src="{{ url_for('static', filename='assets/logo.png') }}" alt="logo" class="logoimg">
        </a>
        <nav id="navbar">
            <a href="#sobre">Sobre</a>
            <a href="#trabalhos">Trabalhos</a>
            <a href="#servicos">Serviços</a>
            <a href="#endereço">Endereço</a>
            {% if session.get("usuario_id") %}
            <a href="{{ url_for('painel_barbeiro') }}">Painel</a>
            <a href="{{ url_for('logout') }}">Sair</a>
            {% else %}
             <a href="{{ url_for('login') }}"><i class="fa-solid fa-user"></i></a>
            {% endif %}

        </nav>
        </section>
    </header>

    <div class="home-container">
        <section id="#home">
            <div class="content">
                <h3 id="title">Barbearia <span>Profissional</span></h3>
                <p>Aqui você sempre será bem-vindo e bem atendido!</p>
                <div class="botoes-container">
                <a href="{{ url_for('agendamento') }}" class="btn">Agendar agora</a>
                <a href="#sobre" class="btn">Saiba mais</a>
                </div>
            </div>
        </section>
    </div>
    <section class="sobre" id="sobre">
        <h2 class="title">Sobre <span>Nós</span></h2>
        <div class="row">
            <div class="content">
                <h3>Conheça nossa Barbearia</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad iusto, est dolores c</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam libero ex dolorum aliquid ut tempora, eos doloremque po</p>
                <a href="#" class="btn">Saiba mais</a>
            </div>
              <div class="">
                <img src="{{ url_for('static', filename='assets/pexels-thgusstavo-1804638.jpg') }}" alt="sobre-nos" class="img-sobre">
            </div>
        </div>
    </section>
    <section class="trabalhos" id="trabalhos">
        <h2 class="title">Nossos <span>Trabalhos</span></h2>
        {% if session.get("usuario_id") %}

    <button class="btn" onclick="abrirFormulario()">Adicionar imagem</button>

    <div id="form-upload" style="display: none; margin-top: 20px;">
        <form action="#" method="POST" enctype="multipart/form-data">
            <input type="file" name="imagem" required>
            <input type="text" name="descricao" placeholder="Descrição da imagem" required>
            <button type="submit" class="btn">Enviar</button>
        </form>
    </div>

{% endif %}

        <div class="box-container">
    {% for imagem in imagens %}
        <div class="box">
            <img 
                src="{{ url_for('static', filename='uploads/' + imagem['caminho_imagem']) }}" 
                alt="item"
            >
            <p>{{ imagem['descricao'] }}</p>
        </div>
    {% endfor %}
</div>

        <button class="btn">Ver mais imagens</button>
    </section>
    <footer>
        <section class="footer-about">
            <h3>Sobre</h3>
            <p>Descrição Barbearia. Aqui você encontra estilo e atendimento profissional.</p>
        </section>
        <section class="footer-social">
            <h3>Siga-nos</h3>
            <a href="#" class="footer-link"><i class="fa-brands fa-instagram"></i></a>
            <a href="#" class="footer-link"><i class="fa-brands fa-facebook"></i></a>
            <a href="#" class="footer-link"><i class="fa-brands fa-whatsapp"></i></a>
        </section>
        <nav class="footer-nav">
            <h3>Navegação</h3>
            <ul class="footer-list">
                <li><a href="{{ url_for('index') }}" class="footer-link">Início</a></li>
                <li><a href="#sobre" class="footer-link">Sobre</a></li>
                <li><a href="#trabalhos" class="footer-link">Trabalhos</a></li>
                <li><a href="#servicos" class="footer-link">Serviços</a></li>
            </ul>
        </nav>
        <section class="footer-subscribe">
            <h3>Inscreva-se</h3>
            <p>Digite seu e-mail para receber novidades.</p>
            <form class="subscribe-form" action="#" method="post">
                <input type="email" name="email" placeholder="Seu e-mail" required>
                <button type="submit"><i class="fa-regular fa-envelope"></i></button>
            </form>
        </section>
        <section class="copyright">
            © 2025 Todos os direitos reservados - Barbearia
        </section>
    </footer>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>