<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/login.css">
    <title>Página Login</title>
</head>
<body>
    <main class="container-principal">
        <section class="ladoesquerdo">
            <a href="index.html" class="btn voltar-btn">Voltar</a>
            <header id="logo">
                <h1>Login</h1>
            </header>
            <figure>
                <img src="/static/image/pexels-thgusstavo-1804638.jpg" alt="Barbearia" class="login-img">
            </figure>
        </section>
        <section class="ladodireito">
            <form>
                <div class="campo">
                    <label for="nome">Email</label>
                    <input type="text" id="nome" name="nome">
                </div>
                <div class="campo">
                    <label for="senha">Senha:</label>
                    <input type="password" id="senha" name="senha">
                </div>
                <button class="btn enviar-btn" type="submit">Entrar</button>
                <a href="cadastro.html" class="btn cadastrar-btn">Cadastrar</a>
            </form>
        </section>
    </main>
</body>
</html>