<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}">
    <title>Página Login</title>
</head>
<body>
    <main class="container-principal">
        <section class="ladoesquerdo">
            <a href="{{ url_for('index') }}" class="btn voltar-btn">Voltar</a>         
        </section>
        <section class="ladodireito">
            <form method="POST">
                <div class="campo">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email">
                </div>
                <div class="campo campo-senha">
                    <label for="senha">Senha:</label>
                    <input type="password" id="senha" name="senha">
                    <i class="fa-solid fa-eye" id="toggleSenha"></i>
                </div>
                <button class="btn enviar-btn" type="submit">Entrar</button>
                <a href="{{ url_for('cadastro') }}">Cadastrar</a>
            </form>
        </section>
    </main>
</body>
</html>