@import url(styles.css);
.campo {
    margin-bottom: 1.0rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input, select {
    width: 70%;
    padding: 8px;
    background-color: white;
    color: white;
    border-radius: 8px;
    border: 1px solid gray;
    
}

form {
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.container-principal {
    display: flex;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.ladoesquerdo {
    font-size: 18px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(58, 56, 56);
    padding: 2rem;
}

.ladoesquerdo h1 {
    position: absolute;
    top: 2rem;
    color: var(--primary-gold);
}

.ladoesquerdo p {
    color: white;
    font-size: 2rem;
}

.ladodireito {
    background-color: white;
    width: 40%;
    display: flex;
    padding: 2rem;
    justify-content: center;
    align-items: center;
}

.ladodireito a {
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.horarios-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-top: 1rem;
}

.horario-btn {
    padding: 1rem;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
}

.horario-btn:hover {
    background-color: #f0f0f0;
}

.horario-btn.selecionado {
    background-color: #d4af37;
    color: white;
}

.container-principal {
    display: flex;
}