footer {
    background-color: black;
    color: white;
    padding: 4rem 2rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
